.mainfooter{
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.mainfooter img {
    border-radius: 50%;
}

.footer2{
    width: 100%;
    justify-content: space-between;
}