.navbar{
    background-color: black !important;
}

.navbar-brand{
    color: white !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white !important;
}

.nav-link{
    color: white !important;
}

.navbar-toggler-icon{
    background-color: white !important;
    border-radius: 5px;
}